@charset "UTF-8";

/*/////////////////////////////////////////////////
//LINE風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/

// color
$titleColor:   #273246; //タイトル背景色
$baseColor:    #7494c0; // 背景色
$myTextColor:  #8de055; // 吹き出しの色

/*///////////////////////////////////////////////*/

.line__right-image, .line__left-image {
  position: relative;
  .line__progress-box {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
  }
  progress {
    width: 100%;
  }
}

.line__info-box {
  position: absolute;
  width: 100%;
  background: #ffffff;
  left: 0;
  color: #000;
  top: -35px;
  display: flex;
  align-items: center;
  padding: 0 15px 0;
  p {
    margin: 0 auto;
    font-weight: bold;
  }
}

.line__left-image {
  margin: 0 0 0 10px;
  border-radius: 20px;
  max-height: 45vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.line__right-image {
  border-radius: 20px;
  max-height: 45vh;
  max-width: 68%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

#line__image-file {
  display: none;
}

.line__alert-box {
  position: absolute;
  top: 46px;
  background: rgba(0,0,0,0.8);
  left: 0;
  width: 100%;
  overflow: hidden;

  p {
    text-align: center;
    margin: 0 auto;
    padding: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.sendable {
  color: #1a64b1;
}

.line__alert-enter-active, .line__alert-leave-active{
  top: 46px;
  opacity: 1;
  transition: all .5s;
}

.line__alert-enter, .line__alert-leave-to {
  opacity: 0;
  top: 46px;
}

.line__icon-box-enter-active, .line__icon-box-leave-active{
  left: 0;
  opacity: 1;
  transition: all .5s;
}

.line__icon-box-enter, .line__icon-box-leave-to {
  opacity: 0;
  left: -100px;
}

.line__icon-box {
  position: absolute;
  display: flex;
  overflow: hidden;
}

.mr-15 {
  margin-right: 15px;
}

.line__container {
  padding:0;
  background: $baseColor;
  overflow: hidden;
  font-size: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .line__header, .line__footer {
    padding: 5px;
    background: $titleColor;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1001;
  }

  .line__header {
    top: 0;
  }

  .line__footer {
    bottom: 0;
  }

  .line__flex {
    display: flex;
  }

  .line__align-center {
    align-items: center;
  }

  .line__justify-content-between {
    justify-content: space-between;
  }

  .line__icon {
    font-size: 1.5rem;
  }
  
  .line__loader {
    text-align: center;
  }

  textarea {
    font-size: 16px;
    transform: scale(0.8);
    border-radius: 20px;
    border-style: none;
    width: 55vw;
  }

  .line__input-send-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .line__right-text {
    display: flex;
    flex-direction: row-reverse;
    max-width: 67vw;
    align-items: flex-end;
    white-space: pre-wrap;
  }

   /* タイトル部分 */
  .line__title {
    margin: 0 auto;
    font-size: 150%;
  }
  /* スタンプ画像最大幅 */
   .stamp img {
    max-width:150px;
  }

  /* 会話部分 */
  .line__contents {
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
    transform: rotateZ(180deg);

    &.scroll {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .line_clear-trans {
      transform: rotateZ(180deg);
    }

    /* 相手の会話 */
    .line__left {
      width: 100%;
      //position: relative;
      display: flex;
      margin-bottom: 8px;
      max-width: 80%;
      //clear: both;

      /* アイコン画像 */
      figure {
        width: 50px;
        //position: absolute;
        //top: 15px;
        //left: 0;
        padding: 0;
        margin: 0;
        /* 正方形を用意 */
        img{
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }

      .line__left-text {
        margin-left: 15px;

        .name {
          font-size: 80%;
          color: #ffffff;
        }
      }
      /* コメントエリア */
      .text {
        white-space: pre-wrap;
        margin: 0;
        position: relative;
        padding: 10px;
        border-radius: 20px;
        background-color: #ffffff;
        /* 吹き出し */
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          left: -10px;
          top: 10px;
          border-right: 20px solid #ffffff;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }

      }
     }
      /* 自分の会話 */
      .line__right {
        position: relative;
        //display: block;
        display: flex;
        margin: 8px 5px 8px 0;
        //max-width: 75%;
        //float: right;
        justify-content: flex-end;
        //clear: both;
        /* コメントエリア */
        .text {
          padding: 10px;
          border-radius: 20px;
          background-color: $myTextColor;
          margin: 0;
          //margin-left: 120px;
          /* 吹き出し */
          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            right: -10px;
            top: 10px;
            border-left: 20px solid $myTextColor;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }

        }
        /* 自分がスタンプを送る時 */
        .stamp {
          position: relative;
          margin-left: 80px;
        }
        /* 既読エリア */
        .date {
          //content: '';
          //position: relative;
          //display: block;
          //width: 100px;
          //text-align: right;
          //left: 15px;
          //bottom: 36px;
          font-size: 80%;
          color: #ffffff;
          margin-right: 5px;
        }
      }
  }
}
